.skills-container {
    max-width: 800px; /* Adjust as per your design */
    margin: 0 auto;
  }
  
  .skills-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    text-align: center;
    margin: 15px;
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .skill-item:hover {
    transform: scale(1.1); /* Scale up slightly on hover */
  }
  
  .skill-item img {
    width: 100px; /* Adjust the size of the logos */
    height: auto;
  }
  
  .skill-item p {
    margin-top: 10px;
    font-size: 18px; /* Adjust the font size */
  }
  